@import "../partials/fonts";
@import "../partials/variables";
@import "../partials/mixins";

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Avenir"
}




.navbar {
    height: 5rem;
    background-color:$main-color;
    color: $second-color;
    display: flex;
    flex-wrap:wrap;
      
    &__link {
     text-decoration: none;
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 50%;
     font-size: .9rem;
     padding-bottom:.5rem;
     border-bottom: solid 0.25rem transparent;
     color: $third-color;
    } 
      
    &__link-view {
        border-bottom: solid 0.25rem white; 
        color: $second-color;  
    }
    
    

    &__logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 1rem auto;
        height: 1.20rem;
        

    }
}

.hero {
    display: flex;    
    flex-direction: column;
    background-image: url("../assets/Images/IMG_139887.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 1rem;
    padding-bottom: .8rem;
    height: 29.5rem;
    position: relative;

    &__opacity {
        background-color: $third-color;
        opacity: .2;
        height: 100%;
        width: 100%;
        position: absolute;
        left:0;
    }

    &__album {
        color: $text-color;
        margin-top: 4rem;
    }
    
    &__title {
     color: $text-color;
     align-items: center;
     line-height: 3.23rem;
     font-size: 2.32rem;
     font-weight: 700;
     width: 100%;
     font-family: "Avenir-Bold";
     margin-top: 0;
             
    }
    &__soundcloud {
        width:95%;
        height: 6.1rem;
        margin-top: .5rem;
    }


}  .shows {
    @include display-mobile;

    &__header {
        @include header-mobile;
        margin-bottom: .3rem;
    }

    &__main-container {           
        padding-left: 1rem; 
        padding-bottom: 1rem;
                      
    }

    
    &__date-header {
        color: $third-color;
        margin-bottom: 0;
        height: 3rem;
        
    }

    &__date-text {
        color: black;
        font-weight: bold;
        font-size: 0.813rem;
        margin-top: 0;
        height: .5rem;

    }
    

    
    &__venue-header {
        color: $third-color;
        margin: 1.5rem 0; 
        height: .5rem;  
    }

    &__venue-text {
        font-size: 0.813rem;
        margin: 0;
        height: .5rem;
               
    }

    &__location-header {
        color: $third-color;
        margin: 1.5rem 0; 
        height: .5rem; 
    }

    &__location-text {
        font-size: 0.813rem;
        padding-bottom: 1rem;
        height: .5rem;
               
    }

    &__button {
        width: 18rem;
        padding: 1rem 0;
        font-family: "Avenir-Bold";
        font-weight: 900;
        color: $second-color;
        background-color: $main-color;
        border-radius: .25rem;
        border-style: solid;
        border: .3rem;
        
    }

    &__breakline {
        width: 17.75rem;
        height: .15rem;
        // border: solid 1px #E1E1E1;; 
        margin-top: .8rem;
        margin-bottom: 1.3rem;
        background-color: #E1E1E1;
        border-radius: .5rem;
        
        
    }
    
    
}

.footer {
    @include display-mobile;
    background-color: $main-color;

    &__header {
        @include header-mobile;
        color: $text-color;
        font-size: 2rem;
        margin: auto 0;
        padding-top: 3rem;
        font-family: "Avenir-Demi";
        font-weight: bold;
    }

    &__icons-container {
        display: flex;
        padding: 1.44rem .5rem;
        justify-content: space-around;
        width: 40%;
    }

    &__icons {
        height: 1.5rem;
        width: 1.5rem;        
        
        
    }

    .navbar__logo {
        display: none;
        
    }

    &__contact-name {
        @include footertext-mobile;
       
    }
    &__contact-name-style {
        margin-top: 0.1rem;
    }

    &__contact-details {
        @include footertext-mobile;
        font-weight: 100;
        font-size: .79rem;
        margin: auto 0;
    }

    &__contact-copyright {
        padding-top:1rem;
        padding-bottom: 2rem;
    }
}