@import "../partials/fonts";
@import "../partials/variables";
@import "../partials/mixins";

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Avenir"
}




.navbar {
    height: 5rem;
    background-color:$main-color;
    color: $second-color;
    display: flex;
    flex-wrap:wrap;

    @include tablet {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0 1.5rem;
    }
      
    &__link {
     text-decoration: none;
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 50%;
     font-size: .9rem;
     padding-bottom:.5rem;
     border-bottom: solid 0.25rem transparent;
     color: $third-color;

     @include tablet {
         width: 12%;
         margin: 0 1.5rem;
         padding-top: 1.5rem;
     }
    } 
      
    &__link-view {
        border-bottom: solid 0.25rem white; 
        color: $second-color;  
    }
    
    

    &__logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 1rem auto;
        height: 1.20rem;
        
        @include tablet {
            width: auto;
            margin: 0;
            padding-top: 2rem;
            padding-right: 2rem;
        }

    }
}

.hero {
    display: flex;    
    flex-direction: column;
    background-image: url("../assets/Images/IMG_139887.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 1rem;
    padding-bottom: .8rem;
    height: 29.5rem;
    position: relative;

    @include tablet {
        height: 41.875rem;
    }

    @include desktop {
        &__embed {
            display: flex;
        }
    }

    &__opacity {
        background-color: $third-color;
        opacity: .2;
        height: 100%;
        width: 100%;
        position: absolute;
        left:0;
    }

    &__album {
        color: $text-color;
        margin-top: 4rem;
        font-size: 1rem;
        font-weight: 900;

        @include tablet {
            margin-top: 10rem;
            font-size: 1.5rem;
        }

        @include desktop {
            margin-left: 7rem;

        }
    }
    
    &__title {
     color: $text-color;
     align-items: center;
     line-height: 3.23rem;
     font-size: 2.32rem;
     font-weight: 700;
     width: 100%;
     font-family: "Avenir-Bold";
     margin-top: 0;

     @include tablet {
        line-height: 5.25rem;
        font-size: 3.75rem;
        width: 80%;
     }

     @include desktop {
         width: 50%;
         margin-left: 7rem;
     }
             
    }
    &__soundcloud {
        width:95%;
        height: 6.1rem;
        margin-top: .5rem;

        @include tablet {
            width: 28rem;
        }

        @include desktop {
            width: 23.25rem;
            height: 9.125rem;
        }


    }


}  .shows {
    @include tablet {
        display: flex;
        flex-direction: column;
        padding-bottom: 2.5rem;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40.25rem;
        margin-left: 9rem;
        
    }

    @include display-mobile;

       &__header {
        @include header-mobile;
        margin-bottom: .3rem;
        font-size: 2rem;
        font-weight: bolder;
    }

    &__main-container {           
        padding-left: 1rem; 
        padding-bottom: 1rem;

        @include tablet {
            display: none;
        }

        
                             
    }

        
    &__date-header {
        color: $third-color;
        margin-bottom: 0;
        height: 3rem;
    }    
        

    &__date-text {
        color: black;
        font-weight: bold;
        font-size: 0.813rem;
        margin-top: 0;
        height: .5rem;

        @include tablet {
            width: 14.5rem;
            margin: auto 0;
            padding-left: 1rem;
            font-family: "Avenir";
            font-size: 1rem;
            font-weight: 900;
             
        }
        

    }
    

    
    &__venue-header {
        color: $third-color;
        margin: 1.5rem 0; 
        height: .5rem;  
    }

    &__venue-text {
        font-size: 0.813rem;
        margin: 0;
        height: .5rem;

        @include tablet {
           width: 9rem;  
           margin: auto 0;
           
        }
               
    }

    &__location-header {
        color: $third-color;
        margin: 1.5rem 0; 
        height: .5rem; 

        
    }

    &__location-text {
        font-size: 0.813rem;
        padding-bottom: 1rem;
        height: .5rem;

        @include tablet {
            width: 12.5rem;
            margin: 2.3rem 0;
            
            
            
        }
               
    }

    &__button {
        width: 18rem;
        padding: 1rem 0;
        font-family: "Avenir-Bold";
        font-weight: 900;
        color: $second-color;
        background-color: $main-color;
        border-radius: .25rem;
        border-style: solid;
        border: .3rem;

        @include tablet {
            width: 10.5rem;
            margin: 1rem 1rem 1rem 0;
        }    
        
    }

    &__breakline {
        width: 17.75rem;
        height: .15rem;
        margin-top: .8rem;
        margin-bottom: 1.3rem;
        background-color: #E1E1E1;
        border-radius: .5rem;

              
        
    }
    
    &__main-container-large {
        display: none;

        @include tablet {            
            display: flex;
            flex-direction: column;
        }        
       
    }

    &__header-container {
        display: flex;

        @include tablet {
            height: 2.5rem;
        }
    }

    &__info-container {
        display: flex;
        flex-direction: row;
        border-bottom: solid 2px #E1E1E1;        
        border-radius: .5rem;
        vertical-align: middle;
        height: 5rem;

        
    }

    &__button-container {
        display: flex;
        flex-direction: column;
    }

      

    &__date-header-large {
        color: $third-color;
        margin-left: 1rem; 
        width: 14.5rem;       
    }

    &__venue-header-large {
        color: $third-color;  
        width: 9rem;
            
    }

    &__location-header-large {
        color: $third-color; 
          
    }

    


}
    


.footer {
    @include display-mobile;
    background-color: $main-color;

    &__header {
        @include header-mobile;
        color: $text-color;
        font-size: 2rem;
        margin: auto 0;
        padding-top: 3rem;
        font-family: "Avenir-Demi";
        font-weight: bold;
    }

    &__icons-container {
        display: flex;
        padding: 1.44rem .5rem;
        justify-content: space-around;
        width: 40%;
    }

    &__icons {
        height: 1.5rem;
        width: 1.5rem;   
        
        @include tablet {
            padding-left: 2rem;
            
        }
        
        
    }

    @include tablet {
        &__container {
            width: 100%;
        }
    }

    .navbar__logo {
        display: none;

        @include tablet {
            display: initial;
            margin-right: 0;
        }
        
    }

    &__contact-name {
        @include footertext-mobile;
       
    }
    &__contact-name-style {
        margin-top: 0.1rem;
    }

    &__contact-details {
        @include footertext-mobile;
        font-weight: 100;
        font-size: .79rem;
        margin: auto 0;
    }

    &__contact-copyright {
        padding-top:1rem;
        padding-bottom: 2rem;
    }
}

@include tablet {

    .footer {

        &__header {
            margin-top: 0;
        }

        &__container {
            display: flex;
        }
    
        &__icons {
            height: 2rem;
            width: 2rem;
            justify-content: space-evenly;
            padding-top: 2rem;
            height: 1rem;
            width: 1rem;
        }
    
        
    
        &__container {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    
        &__navbar__logo {
            flex-direction: flex-end;
        }
        
    
        &__container-deets {
            display: flex;
            justify-content: flex-start;
            margin-left: 0;
            padding: 0 2rem;
            
    
        }
    
        &__contact-copyright {
            flex-wrap: wrap;
            padding: 5rem;
            margin: 0 auto;
    
            
        
        }
    
        .photo__container {
            padding-left: 5rem;  
            margin: auto;
            
            &__header {
                padding-left: 2rem;
           
        }
    }
}}

@include desktop {
    .navbar {
        padding: 0 9rem;
        &__anchor {
          margin-left: 2.8rem;
          width: 5rem;
          &:hover {
            font-size: 1rem;
            transition: 0.3s;
            font-family: 'Avenir-Bold';
            color: #FFFFFF;
            border-bottom: 0.25rem solid white;
          }
        }
      }
      
}    