@font-face {
  font-family: "Avenir";
  src: url("../assets/Fonts/Avenir-Next.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/Fonts/Avenir-Next-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Avenir-Demi";
  src: url("../assets/Fonts/Avenir-Next-Demi.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 5rem;
  background-color: #323232;
  color: #FAFAFA;
}

.navbar__link-anchor {
  text-decoration: none;
}

.navbar a:visited {
  color: #AFAFAF;
}

.navbar a:link {
  color: #AFAFAF;
}

@media (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 1.5rem;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 0 9rem;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .navbar__list {
    width: 100%;
  }
}

.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  font-size: .9rem;
  padding-bottom: .5rem;
  border-bottom: solid 0.25rem transparent;
  color: #AFAFAF;
}

@media (min-width: 768px) {
  .navbar__link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 12%;
    padding-top: 1.5rem;
    margin: 0 1.5rem;
  }
}

.navbar__link-view {
  border-bottom: solid 0.25rem white;
  color: #FAFAFA;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 1rem auto;
  height: 1.20rem;
}

@media (min-width: 768px) {
  .navbar__logo {
    width: auto;
    margin: 0;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 1rem;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../assets/Images/IMG_139887.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 1rem;
  padding-bottom: .8rem;
  height: 29.5rem;
  position: relative;
}

@media (min-width: 768px) {
  .hero {
    height: 41.875rem;
  }
}

@media (min-width: 1200px) {
  .hero__embed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero__soundcloud {
  z-index: 1;
  width: 95%;
  height: 6.1rem;
  margin-top: .5rem;
}

@media (min-width: 768px) {
  .hero__soundcloud {
    width: 28rem;
  }
}

@media (min-width: 1200px) {
  .hero__soundcloud {
    width: 23.25rem;
    height: 9.125rem;
  }
}

.hero__embed {
  z-index: 2;
}

.hero__opacity {
  background-color: #AFAFAF;
  opacity: .3;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
}

.hero__album {
  color: #FFFFFF;
  margin-top: 4rem;
  font-size: 1rem;
  font-weight: 900;
}

@media (min-width: 768px) {
  .hero__album {
    margin-top: 10rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .hero__album {
    margin-left: 7rem;
  }
}

.hero__title {
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3.23rem;
  font-size: 2.32rem;
  font-weight: 700;
  width: 100%;
  font-family: "Avenir-Bold";
  margin-top: 0;
}

@media (min-width: 768px) {
  .hero__title {
    line-height: 5.25rem;
    font-size: 3.75rem;
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    width: 50%;
    margin-left: 7rem;
  }
}

.shows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .shows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1.5rem 2.5rem 1.5rem;
  }
}

@media (min-width: 1200px) {
  .shows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 1rem;
  }
  .shows__section-container {
    width: 50.25rem;
    padding-right: 5rem;
  }
}

.shows__header {
  padding: .3rem 1rem 0;
  font-family: "Avenir-Bold";
  font-size: 1.5rem;
  margin-bottom: .3rem;
  font-size: 2rem;
  font-weight: bolder;
}

@media (min-width: 1200px) {
  .shows__header {
    padding-left: 7rem;
  }
}

.shows__main-container {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .shows__main-container {
    display: none;
  }
}

.shows__date-header {
  color: #AFAFAF;
  margin-bottom: 0;
  height: 3rem;
}

.shows__date-text {
  color: black;
  font-weight: bold;
  font-size: 0.813rem;
  margin-top: 0;
  height: .5rem;
}

@media (min-width: 768px) {
  .shows__date-text {
    width: 11rem;
    margin: auto 0;
    font-family: "Avenir";
    font-size: 1rem;
    font-weight: 900;
  }
}

@media (min-width: 1200px) {
  .shows__date-text {
    margin-left: 0;
    padding-left: 0;
  }
}

.shows__venue-header {
  color: #AFAFAF;
  margin: 1.5rem 0;
  height: .5rem;
}

.shows__venue-text {
  font-size: 0.813rem;
  margin: 0;
  height: .5rem;
}

@media (min-width: 768px) {
  .shows__venue-text {
    width: 8rem;
    margin: auto 0;
  }
}

.shows__location-header {
  color: #AFAFAF;
  margin: 1.5rem 0;
  height: .5rem;
}

.shows__location-text {
  font-size: 0.813rem;
  padding-bottom: 1rem;
  height: .5rem;
}

@media (min-width: 768px) {
  .shows__location-text {
    width: 12.5rem;
    margin: 2.3rem 0 2.3rem 2.75rem;
  }
}

.shows__button {
  width: 18rem;
  padding: 1rem 0;
  font-family: "Avenir-Bold";
  font-weight: 900;
  color: #FAFAFA;
  background-color: #323232;
  border-radius: .25rem;
  border-style: solid;
  border: .3rem;
}

@media (min-width: 768px) {
  .shows__button {
    width: 10.5rem;
    margin: 1rem 0;
  }
}

@media (min-width: 1200px) {
  .shows__button {
    margin-right: 0;
  }
}

.shows__breakline {
  width: 17.75rem;
  height: .15rem;
  margin-top: .8rem;
  margin-bottom: 1.3rem;
  background-color: #E1E1E1;
  border-radius: .5rem;
}

.shows__main-container-large {
  display: none;
}

@media (min-width: 768px) {
  .shows__main-container-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 45rem;
  }
}

.shows__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .shows__header-container {
    height: 2.5rem;
  }
}

.shows__info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: solid 2px #E1E1E1;
  border-radius: .5rem;
  vertical-align: middle;
  height: 5rem;
}

@media (min-width: 768px) {
  .shows__info-container {
    border-radius: 0;
  }
}

@media (min-width: 1200px) {
  .shows__info-container {
    width: 90%;
    border-radius: 0px;
  }
}

.shows__date-header-large {
  color: #AFAFAF;
  width: 14.5rem;
}

@media (min-width: 768px) {
  .shows__date-header-large {
    width: 11rem;
  }
}

@media (min-width: 1200px) {
  .shows__date-header-large {
    margin-left: 0;
    width: 14.1rem;
  }
}

.shows__venue-header-large {
  color: #AFAFAF;
  width: 11rem;
}

@media (min-width: 768px) {
  .shows__venue-header-large {
    width: 10.75rem;
  }
}

@media (min-width: 1200px) {
  .shows__venue-header-large {
    width: 8.8rem;
  }
}

.shows__location-header-large {
  color: #AFAFAF;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
}

@media (min-width: 1200px) {
  .footer {
    padding: 0.775rem 11.25rem 2.4rem 11.25rem;
  }
}

@media (min-width: 768px) {
  .footer__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 48rem;
    position: relative;
  }
  .footer__container-deets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
    padding-right: 3rem;
    width: 45rem;
    position: relative;
  }
  .footer__container-words {
    margin: auto 0;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    width: 53rem;
  }
}

.footer__header {
  padding: .3rem 1rem 0;
  font-family: "Avenir-Bold";
  font-size: 1.5rem;
  color: #FFFFFF;
  font-size: 2rem;
  margin: auto 0;
  padding-top: 3rem;
  font-family: "Avenir-Demi";
  font-weight: bold;
}

.footer__icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.44rem .5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 8.25rem;
}

@media (min-width: 768px) {
  .footer__icons-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 3rem;
  }
}

.footer__icons {
  height: 1.5rem;
  width: 1.5rem;
}

@media (min-width: 768px) {
  .footer__icons {
    height: 3rem;
    width: 3rem;
    padding: 2.5rem 0 0 2rem;
    height: 1rem;
    width: 1rem;
  }
}

.footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .footer__logo {
    display: initial;
    position: absolute;
    right: 1rem;
    padding-top: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .footer__logo {
    right: 0rem;
  }
}

.footer__contact-name {
  font-size: 0.83rem;
  color: #FAFAFA;
  line-height: 1.25rem;
  padding-left: 1rem;
}

.footer__contact-name-style {
  margin-top: 0 auto;
}

.footer__contact-details {
  font-size: 0.83rem;
  color: #FAFAFA;
  line-height: 1.25rem;
  padding-left: 1rem;
  font-weight: 100;
  font-size: .79rem;
  margin: auto 0;
}

.footer__contact-copyright {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .footer__contact-copyright {
    display: none;
  }
}

.footer__contact-copyright-large {
  display: none;
}

@media (min-width: 768px) {
  .footer__contact-copyright-large {
    display: initial;
    padding: 1rem 0 2rem 1rem;
  }
}
/*# sourceMappingURL=shows.css.map */