@font-face {
    font-family: "Avenir";
    src: url("../assets/Fonts/Avenir-Next.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Avenir-Bold";
    src: url("../assets/Fonts/Avenir-Next-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Avenir-Demi";
    src: url("../assets/Fonts/Avenir-Next-Demi.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}